.iacor{
    border-top: 15px solid transparent;
	margin-top: -15px;
	padding: 5px; /* паддинги - без проблем */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

/*Стиль хедера*/
.header{
 background-image: url('../images/headerback.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}
.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(221, 221, 221, 0.79);
 /*background: rgba(244, 244, 244, 0.79);*/
}
.description{
    position: absolute;
    top: 25%;
    margin: auto;
    padding: 2em;
}
.description h2{
    color:#134783;
}
.description p{
    color:#134783;
    font-size: 1.7em;
    font-weight: 500;
}


.about{
    margin-left:  0;
    margin-right: 0;
    margin-top: 5em;
    margin-bottom: 6em;
    padding: 1em;
    position: relative;
}
.about h1{
    color:#134783;
    margin: 2em;
}
.about span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
}
.about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
}
.about .desc h3{
    color: #10828C;
}
.about .desc p{
    line-height:2;
    color:#888;
}

/*Portfolio*/
.portfolio h1{
    color:#134783;
    margin: 0.5em; 
}/*
.carousel-caption{
    background-color: rgba(244, 244, 244, 0.79);
}*/
.carousel-caption h5, p, h6{ 
    color: white;
}
.carus_over{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.418);
}
.carousel .carousel-indicators li {
    width: .625rem;
    height: .625rem;
    cursor: pointer;
    border-radius: 50%;
}

.team{
 margin: 4em 0;
 position: relative;  
}
.team h1{
 color:#134783;
 margin: 1em 0; 
}
.team .item{
 position: relative;
}
.item{
    margin-bottom: 3em;
}
.team .des{
 background: #134783;
 color: #fff;
 text-align: center;
 border-bottom-left-radius: 85%;
 transition: .0s;
}
.team .item:hover .des{
 height: 100%;
 /*background:#f973007d;*/
 background:#0c2d537d;
 position: absolute;
 width: 92%;
 padding: 5em;
 top: 0;
 border-bottom-left-radius: 0;
}

.contact-form{
 margin: 4em 0;
 position: relative;  
}

@media (max-width: 992px) {  
    .contact-form h1{
    color: #134783; 
    }
}
@media (min-width: 993px) {  
    .contact-form h1{
    padding:2em 1px;
    color: #134783; 
    }
}
.contact-form .right{
 max-width: 600px;
}
.contact-form .right .btn-secondary{
 /*background:  #F97300;*/
 background: #134783 !important;
 color: #fff;
 border:0;
}
.contact-form .right .btn-secondary:hover{
 /*background:  #F97300;*/
 background: #134783 !important;
 color: #fff;
 border:0;
 box-shadow: 0.2em 0.2em 5px rgba(122,122,122,0.5);
}
.contact-form .right .form-control::placeholder{
 color: #888;
 font-size: 16px;
}